*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 10px;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}

body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;



    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid $color3;
        border-radius: 50%;
        width: 220px;
        height: 220px;
        animation: spin 2s linear infinite;
        top: 50%;
    }

    img {
        position: absolute;
    }
}

.termModal {
    background-color: $color0;
    border-radius: 1rem;
    position: absolute;
    z-index: 10;
    width: 90%;
    height: 90%;
    padding: .5rem 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.3rem;
    line-height: 2rem;

    button {
        // width: 2rem;
        // height: 2rem;
        margin: 1rem 0;
        background-color: rgba($color3, $alpha: .9);
        color: $color0;
        font-family: $font5;
        border: none;
        padding: .4rem 1rem;
        font-size: 1.4rem;
        border-radius: .5rem;
        cursor: pointer;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }

    p {
        width: 100%;
        height: 100%;
        overflow: auto;
        text-align: justify;

        b {
            text-align: justify;
        }
    }
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 140rem;

    .structure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;

        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
        }
    }
}